body{
	padding: 0px;
	margin: 0px;
}

/* player wrapper div */
div#rvideo-wrapper{
	
	width:640px;
	position: relative;
	text-align: center;
	
}

div#rvideo-wrapper2{
	
	width:640px;
	position: relative;
	text-align: center;
	
}


/* control bar element */
div.rvideo-controlbar{
	width:100%;
	position: absolute;
    height: 36px;
    line-height: 32px;
    font-size: 109%;
    text-align: left;
    direction: ltr;
	background: linear-gradient(transparent, black); /* Standard syntax (must be last) */
}




div.rleft{
	float:left;
}

div.rright{
	float:right;
}


div.rvideo-controlbar div.rvideo-progressBar{
	/*background: #fc0;*/
	background: #EEEEEE;
}

div.rvideo-controlbar div.rvideo-progressBarProgress{
	background: red;
}



div.rvideo-controlbar div.rvideo-controlBarLeftPanel{

	float:left;
}

div.rvideo-controlbar div.rvideo-controlBarRightPanel{

	float:right;
}


div.rvideo-controlbar div.rcontrolbutton{
	height : 100%;
	width : 46px;
	margin : 0px;
	color:white;
	cursor: pointer;
	text-align: center;
}


div.rvideo-controlbar div.rcontrolbutton:hover{
	color:yellow;
}

div.rvideo-controlbar div.rvideo-volumebutton{
width:30px;

	
}


div.rvideo-controlbar div.volume-unit{
	color:white;
	display: inline-block;
	cursor: pointer;
}

div.rvideo-controlbar div.volume-unit:hover{
	color:red;
}

div.rvideo-controlbar div.volume-unit.active{
	color:red;
}




















