/* player wrapper div */
div#rvideo-wrapper{
	
	width:640px;
	height:360px;
	border : 1px solid black;
	position: relative;
	text-align: center;
	
}

/* video element */
video.rvideo-player{
	
	width: 100%;
	height: 100%;
	background:black;
	margin:0px auto;
	
}

/* control bar element */
div.rvideo-controlbar{
	height:20px;
	width:100%;
	position: absolute;
	border: 0px transparent;
	background: rgba(0,0,0,0.5);
	padding:0px;
	margin: 0px;
}


div.rvideo-controlbar div.rcontrolbutton{
	height : 100%;
	width : 20px;
	margin : 0px;
	font-size:18px;
	color:red;
	cursor: pointer;
	float: left;
}


div.rvideo-controlbar div.rcontrolbutton:hover{
	color:yellow;
}

div.rvideo-controlbar div.rvideo-playbutton{


	
}



























